extends layout

block content
  h1 Hello, Buyer
  p.lead From here you can buy items.
  .pb-2.mt-2.mb-4.border-bottom
    h2 Listings
  for item in items 
    .mb-2.card
      h5.card-header= item.creatorEmail
      .card-body
        h5.card-title= item.title
        p.card-text= item.body
        form(method='POST', action='/deleteItem')
          input(type='hidden', name='_csrf', value=_csrf)
          button#buy.btn.btn-outline-success(type='submit' name='_id' value=item._id) Buy